<br><br>
<input
  [type]="inputType"
  id="meu-input"
  [value]="inputText"
  [disabled]="isDisabled"
  (keyup)="handleInputKeyup($event)"
  (input)="handleInputEvent($event)"
/>
<br><br>
<button (click)="enableInput()">Habilitar</button>
<button (click)="disabledInput()">Desabilitar</button>

<br><br>
<button (click)="setPassWordTypeInput()">Senha</button>
<button (click)="setTextTypeInput()">Texto</button>

<br><br>
<button (click)="logInputText()">Log</button>

<!--
Quando envio um valor para uma prpriedade []
Quando recebo um valor(evento) ()


-->
